.chat-box {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.message {
    margin: 2%;
    padding-left: 5%;
    padding-top: 2%;
    background-color: #bcdcfa;
    border: thin solid darkblue;
    border-radius: 20px;
}

.message-container {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    overflow-y: auto;
    border: thin solid darkblue;
    background-color: #bcdcfa;
}

.message-bubble {
    align-self: flex-end;
    font-size: 14px;
    word-wrap: break-word;
}

.input-container {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    word-wrap: break-word;
}

.chat-input {
    width: 70%;
    height: 60%;
    word-wrap: break-word;
    border-radius: 10px;
    margin: 2%;
    border: none;
    font-size: 14px;
}

#button-send {
    width: 30%;
    height: 60%;
    border-radius: 10px;
    margin: 2%;
    border: solid;
    background-color: lightblue;
    color: black;
    text-align: center;
    cursor: pointer;
}
