.slider-container {
    display: grid;
    place-items: center;
    grid-template-columns: 15% 1fr 1fr 15%;
    grid-gap: 5px;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 25px;
}
