.container {
    display: flex;
    border: solid thin black;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 5%;
    width: 300px;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    padding-bottom: 2%;
}

.buttons {
    display: flex;
}
