.small-icon {
    vertical-align: middle;
}
.default-button {
    text-align: center;
    font-size: 20px;
    margin-right: 16px;
    border-color: rgb(172, 161, 119);
    background-color: rgb(237, 222, 164);
    border-radius: 80px 80px;
    border-radius: 80px 80px;
    border: solid 2px #0e0e0e;
    padding: 4px 10px 4px 10px;
    cursor: pointer;
}
.default-button:hover {
    background-color: #9d4f05;
}
