.page {
    background-color: #d9e5d6;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.list {
    margin-left: 40%;
    font-size: xx-large;
}

.games {
    margin-left: 10%;
    width: 80%;
    height: 100%;
}
