<div class="container">
    <img class="logo" src="./assets/logo.png" alt="Logo Projet" />
    <div class="button-container">
        <button class="create-button" routerLink="/games">Créer une partie</button>
        <button class="join-button" routerLink="/join" (click)="openDialogJoin()">Joindre une partie</button>
        <button class="param-button" routerLink="/admin" (click)="openDialog()">Administrer les jeux</button>
    </div>

    <footer class="footer-item">
        <h4 class="team-name">Équipe 206</h4>
        <p class="team-list">
            <span>Clémentine Chailleux</span>, <span>Jacob Ducas</span>, <span> Mélissa Hammache</span>, <span>Cedrick Gontran Nicolas</span>,
            <span>Amira-Fatim Tamakloe</span>, <span> Olivier Tremblay-Noël</span>
        </p>
    </footer>
</div>
