<div mat-dialog-content>
    <p>Veuillez insérer le mot de passe</p>
    <mat-form-field>
        <mat-label>Mot de Passe</mat-label>
        <input matInput [(ngModel)]="data.password" type="password" (keydown.enter)="onEnter()" />
    </mat-form-field>
    <div style="color: red">{{ data.message }}</div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Annuler</button>
    <button id="okButton" mat-button [mat-dialog-close]="data.password" cdkFocusInitial>Ok</button>
</div>
